.patient-info-container {
  height: 30%;
  margin: 16px 0 0 0;
}

.patient-info-span {
  display: inline-block;
  border: black 1px solid;
  border-radius: 3px;
  padding: 8px;
  margin-top: 16px;
  min-width: 400px;
  margin-left: 12px;
}


.table-container {
  height: 70%;
  margin: 8px 0px 0 0;
}

table {
  border: 1px solid black;
  font-weight: 300;
  margin: 0px 24px 0px 24px;
}

th {
  background-color: var(--main-button-color);
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}

.button-container {
  margin: 8px 0 0 0;
}

#print-button {
  background-color: var(--main-button-color);
  color: white;
  border-radius: 5px;
  border: 0px;
  font-weight: 300;
  font-size: 18px;
  width: 100px;
  height: 45px;
  transition: 0.2s;
  margin-right: 24px;
  margin-bottom: 16px;
}

#print-button:hover {
  opacity: 0.85;
}

#print-button:active {
  opacity: 0.75;
}

div {
  margin: 0px;
}

.item-button {
  border-radius: 3px;
  border: solid 1px black;
  transition: 0.15s;
}

.item-button:hover {
  background-color: black;
  color: white;
}
