.container {
  height: 100%;
  width: 100%;
}

#prescription-number {
  width: 60%;
  height: 10%;
  font-size: 35px;
  border-radius: 6px;
  padding: 8px 0px 8px 10px;
  letter-spacing: 4px;
  font-weight: 300;
  border: 2px black solid;
}

#prescription-number::placeholder {
  letter-spacing: 1px;
  font-size: 35px;
}

@media (max-width: 767px) {
  #prescription-number::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  #prescription-number {
    width: 60%;
    height: 40px;
    font-size: 16px;
    border-radius: 6px;
    padding: 8px 0px 8px 10px;
    letter-spacing: 1px;
    font-weight: 300;
    border: 2px black solid;
  }
}

#prescription-label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 300;
  text-align: left;
  width: 60%;
}

#button-container {
  width: 60%;
}

#submit-button {
  background-color: var(--main-button-color);
  color: white;
  margin-top: 8px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 0px;
  font-weight: 300;
  font-size: 18px;
  width: 100px;
  height: 45px;
  transition: 0.2s;
}

#submit-button:hover {
  opacity: 0.85;
}

#submit-button:active {
  opacity: 0.75;
}
